<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Top Posts</title>
</head>
<body>
    <h1>Top 5 Popular Posts</h1>
    <table>
        <tr>
            <th>Post ID</th>
            <th>Content</th>
            <th>Likes</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post['post_id'] }}</td>
            <td>{{ post['content'] }}</td>
            <td>{{ post['likes_count'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/posts" class="button">Back to Posts</a>
</body>
</html>
